body {
	font-family: monospace;
	background-color: #ECF0F1;
}

#content {
	padding-top: 22%;
}

h2 {
	font-size: 3em;
	margin-bottom: 25px;
}

p {
	font-family: Garamond, monospace;
	opacity: 0.7;
}

.links {
}

a {
	color: #6C7A89;
	text-decoration : underline;
}

a:hover {
	color : black;
}

a:visited {
	text-decoration: underline;
	color: #6C7A89
}

.col-md-9 {
	margin-left: 15px;
}

.jumbotron {
	background-color: #ECF0F1
}

span {
	opacity: 0.9;
}